<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Liste des recherches LBC_AdvancedSearch</title>
    <script type="text/javascript" src='/DataTables/media/js/jquery.js'></script>
    <script type="text/javascript" src='/DataTables/media/js/jquery.dataTables.min.js'></script>
    <link rel="stylesheet" type="text/css" href="/DataTables/media/css/jquery.dataTables.min.css">
    <script type="text/javascript">$(document).ready(function () {
        $('#tab').DataTable();
    });</script>
</head>
<body>
    <table id='tab' class='display'>
        <caption>Liste recherches LBC advanced</caption>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Mots clés</th>
                <th>Lien</th>
            </tr>
        </thead>
        <tbody>
            {% for search in searchs -%}
              <tr>
                <td>{{ search }}</td>
                <td>
              {% for word in searchs[search]  -%}
                  {{ word }}</br>
              {% endfor -%}
                </td>
                <td><a href="{{ search }}.html">ici</td>
              </tr>
            {% endfor -%}
        </tbody>
    </table>
</body>
</html>