<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Resultats de la recherche "{{search }}" </title>
        <script type="text/javascript" src='/DataTables/media/js/jquery.js'></script>
        <script type="text/javascript" src="/DataTables/media/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/DataTables/media/css/jquery.dataTables.min.css">
        <script type="text/javascript">$(document).ready(function () {
            $('#tab2').DataTable( {
                "order": [[ 0, "desc" ]],
                paging: false
            });
        });</script>
    </head>
    <body>
        <table id='tab2' class='display'  width:100%>
            <caption>Resultats de la recherche {{ search }} </caption>
            <thead>
                {% set ns = namespace(titrecnt=0) -%}
                {% set ns.notecnt=0 -%}
                {% set ns.prixcnt=0 -%}
                {% set ns.marquecnt=0 -%}
                {% set ns.modelecnt=0 -%}
                {% set ns.anneecnt=0 -%}
                {% set ns.miseencircucnt=0 -%}
                {% set ns.kilometragecnt=0 -%}
                {% set ns.carburantcnt=0 -%}
                {% set ns.boitevitessecnt=0 -%}
                {% set ns.detailcnt=0 -%}
                {% set ns.timeperloccnt=0 -%}
                {% set ns.typedeventecnt=0 -%}
                {% set ns.surfacecnt=0 -%}
                {% set ns.piececnt=0 -%}
                {% set ns.typedebiencnt=0 -%}
                {% set ns.villecnt=0 -%}
                {% set ns.departementcnt=0 -%}
                {% set ns.regioncnt=0 -%}
                {% set ns.liencnt=0 -%}
                {% set ns.noteprixcnt=0 -%}
                {% set ns.notekmcnt=0 -%}
                {% set ns.noteanneecnt=0 -%}
                {% set ns.notetimecnt=0 -%}
                {% set ns.notepiececnt=0 -%}
                {% set ns.notesurfacecnt=0 -%}
                {% for list_id in result[search] -%}
                    {%if "note" in result[search][list_id] -%}{% set ns.notecnt = loop.index -%}{% endif -%}
                    {%if "titre" in result[search][list_id] -%}{% set ns.titrecnt = loop.index -%}{% endif -%}
                    {%if "prix" in result[search][list_id] -%}{% set ns.prixcnt = loop.index -%}{% endif -%}
                    {%if "marque" in result[search][list_id] -%}{% set ns.marquecnt = loop.index -%}{% endif -%}
                    {%if "modele" in result[search][list_id] -%}{% set ns.modelecnt = loop.index -%}{% endif -%}
                    {%if "annee" in result[search][list_id] -%}{% set ns.anneecnt = loop.index -%}{% endif -%}
                    {%if "miseencircu" in result[search][list_id] -%}{% set ns.miseencircucnt = loop.index -%}{% endif -%}
                    {%if "kilometrage" in result[search][list_id] -%}{% set ns.kilometragecnt = loop.index -%}{% endif -%}
                    {%if "carburant" in result[search][list_id] -%}{% set ns.carburantcnt = loop.index -%}{% endif -%}
                    {%if "boitevitesse" in result[search][list_id] -%}{% set ns.boitevitessecnt = loop.index -%}{% endif -%}
                    {%if "detail" in result[search][list_id] -%}{% set ns.detailcnt = loop.index -%}{% endif -%}
                    {%if "timeperloc" in result[search][list_id] -%}{% set ns.timeperloccnt = loop.index -%}{% endif -%}
                    {%if "surface" in result[search][list_id] -%}{% set ns.surfacecnt = loop.index -%}{% endif -%}
                    {%if "pieceann" in result[search][list_id] -%}{% set ns.pieceanncnt = loop.index -%}{% endif -%}
                    {%if "typedevente" in result[search][list_id] -%}{% set ns.typedeventecnt = loop.index -%}{% endif -%}
                    {%if "typedebien" in result[search][list_id] -%}{% set ns.typedebiencnt = loop.index -%}{% endif -%}
                    {%if "ville" in result[search][list_id] -%}{% set ns.villecnt = loop.index -%}{% endif -%}
                    {%if "departement" in result[search][list_id] -%}{% set ns.departementcnt = loop.index -%}{% endif -%}
                    {%if "region" in result[search][list_id] -%}{% set ns.regioncnt = loop.index -%}{% endif -%}
                    {%if "lien" in result[search][list_id] -%}{% set ns.liencnt = loop.index -%}{% endif -%}
                    {%if "noteannee" in result[search][list_id] -%}{% set ns.noteanneecnt = loop.index -%}{% endif -%}
                    {%if "notekm" in result[search][list_id] -%}{% set ns.notekmcnt = loop.index -%}{% endif -%}
                    {%if "noteprix" in result[search][list_id] -%}{% set ns.noteprixcnt = loop.index -%}{% endif -%}
                    {%if "notetime" in result[search][list_id] -%}{% set ns.notetimecnt = loop.index -%}{% endif -%}
                    {%if "notepiece" in result[search][list_id] -%}{% set ns.notepiececnt = loop.index -%}{% endif -%}
                    {%if "notesurface" in result[search][list_id] -%}{% set ns.notesurfacecnt = loop.index -%}{% endif -%}
                {% endfor -%}
                <tr>
                    {% if ns.notecnt > 0 -%}<th>Note</th> {% endif -%}
                    {% if ns.liencnt > 0 -%}<th>Image/Lien</th> {% endif -%}
                    {% if ns.titrecnt > 0 -%}<th>Titre</th>{% endif -%}
                    {% if ns.prixcnt > 0 -%}<th>Prix</th>{% endif -%}
                    {% if ns.marquecnt > 0 -%}<th>Marque</th> {% endif -%}
                    {% if ns.modelecnt > 0 -%}<th>Modele</th> {% endif -%}
                    {% if ns.anneecnt > 0 -%}<th>Annee</th> {% endif -%}
                    {% if ns.miseencircucnt > 0 -%}<th>Date de mise en circulation</th> {% endif -%}
                    {% if ns.kilometragecnt > 0 -%}<th>Kilometrage</th> {% endif -%}
                    {% if ns.carburantcnt > 0 -%}<th>Carburant</th> {% endif -%}
                    {% if ns.boitevitessecnt > 0 -%}<th>Boite de vitesse</th> {% endif -%}
                    {% if ns.detailcnt > 0 -%}<th style="width:70%">Detail</th> {% endif -%}
                    {% if ns.timeperloccnt > 0 -%}<th>Temps de trajet</th> {% endif -%}
                    {% if ns.surfacecnt > 0 -%}<th>Surface</th> {% endif -%}
                    {% if ns.piececnt > 0 -%}<th>Pieces</th> {% endif -%}
                    {% if ns.typedeventecnt > 0 -%}<th>Type de vente</th> {% endif -%}
                    {% if ns.typedebiencnt > 0 -%}<th>Type de bien</th> {% endif -%}
                    {% if ns.villecnt > 0 -%}<th>Ville</th> {% endif -%}
                    {% if ns.departementcnt > 0 -%}<th>Departement</th> {% endif -%}
                    {% if ns.regioncnt > 0 -%}<th>Region</th> {% endif -%}
                    {% if ns.noteanneecnt > 0 -%}<th>Note annee</th> {% endif -%}
                    {% if ns.notekmcnt > 0 -%}<th>Note km</th> {% endif -%}
                    {% if ns.noteprixcnt > 0 -%}<th>Note prix</th> {% endif -%}
                    {% if ns.notetimecnt > 0 -%}<th>Note time</th> {% endif -%}
                    {% if ns.notepiececnt > 0 -%}<th>Note piece</th> {% endif -%}
                    {% if ns.notesurfacecnt > 0 -%}<th>Note surface</th> {% endif -%}
                </tr>
            </thead>
            <tbody>
                {% for list_id in result[search] -%}
                  {% if result[search][list_id]["ban"] -%} {% continue -%} {% endif -%}
                  {% if result[search][list_id]["note"] is defined -%}<tr>{% endif -%}
                        {% if ns.notecnt > 0 -%}{% if result[search][list_id]["note"] is defined -%}<td>{{ result[search][list_id]["note"] }}</td>{% endif -%}{% endif -%}  
                        {% if ns.liencnt > 0 -%}{% if result[search][list_id]["note"] is defined -%}<td><a href={{ result[search][list_id]["lien"] }} target="_blank"><img src={{ result[search][list_id]["image"] }} alt={{ result[search][list_id]["lien"] }}></a></br><form action="/cgi-bin/ban.py" method="GET" target="_blank"><input type="hidden" name="ymlfile" value="{{ ymlfilename }}" ><input type="hidden" name="search" value={{ search }}><input type="submit" name="list_id" value={{ result[search][list_id]["list_id"] }}></form></td>{% endif -%} {% endif -%}
                        {% if ns.titrecnt > 0 -%}{% if result[search][list_id]["note"] is defined -%}<td>{{ result[search][list_id]["titre"] }}</td>{% endif -%}{% endif -%}
                        {% if ns.prixcnt > 0 -%}{% if result[search][list_id]["note"] is defined -%}<td>{{ result[search][list_id]["prix"] }}€</td>{% endif -%}{% endif -%}
                        {% if ns.marquecnt > 0 -%}{% if result[search][list_id]["note"] is defined -%}<td>{{ result[search][list_id]["marque"] }}</td>{% endif -%}{% endif -%}
                        {% if ns.modelecnt > 0 -%}{% if result[search][list_id]["note"] is defined -%}<td>{{ result[search][list_id]["modele"] }}</td>{% endif -%}{% endif -%}
                        {% if ns.anneecnt > 0 -%}{% if result[search][list_id]["note"] is defined -%}<td>{{ result[search][list_id]["annee"] }}</td>{% endif -%}{% endif -%}
                        {% if ns.miseencircucnt > 0 -%}{% if result[search][list_id]["note"] is defined -%}<td>{{ result[search][list_id]["miseencircu"] }}</td>{% endif -%}{% endif -%}
                        {% if ns.kilometragecnt > 0 -%}{% if result[search][list_id]["note"] is defined -%}<td>{{ result[search][list_id]["kilometrage"] }}</td>{% endif -%}{% endif -%}
                        {% if ns.carburantcnt > 0 -%}{% if result[search][list_id]["note"] is defined -%}<td>{{ result[search][list_id]["carburant"] }}</td>{% endif -%}{% endif -%}
                        {% if ns.boitevitessecnt > 0 -%}{% if result[search][list_id]["note"] is defined -%}<td>{{ result[search][list_id]["boitevitesse"] }}</td>{% endif -%}{% endif -%}
                        {% if ns.detailcnt > 0 -%}{% if result[search][list_id]["note"] is defined -%}<td>{{ result[search][list_id]["detail"] }}</td>{% endif -%}{% endif -%}
                        {% if ns.timeperloccnt > 0 -%}{% if result[search][list_id]["note"] is defined -%}<td>{% for loc in result[search][list_id]["timeperloc"] %}{{ loc }} : {{ result[search][list_id]["timeperloc"][loc] }} {% endfor %}</td>{% endif -%}{% endif -%}
                        {% if ns.surfacecnt > 0 -%}{% if result[search][list_id]["note"] is defined -%}<td>{{ result[search][list_id]["surface"] }}</td>{% endif -%}{% endif -%}
                        {% if ns.piececnt > 0 -%}{% if result[search][list_id]["note"] is defined -%}<td>{{ result[search][list_id]["pieceann"] }}</td>{% endif -%}{% endif -%}
                        {% if ns.typedeventecnt > 0 -%}{% if result[search][list_id]["note"] is defined -%}<td>{{ result[search][list_id]["typedevente"] }}</td>{% endif -%}{% endif -%}
                        {% if ns.typedebiencnt > 0 -%}{% if result[search][list_id]["note"] is defined -%}<td>{{ result[search][list_id]["typedebien"] }}</td>{% endif -%}{% endif -%}
                        {% if ns.villecnt > 0 -%}{% if result[search][list_id]["note"] is defined -%}<td>{{ result[search][list_id]["ville"] }}</td>{% endif -%}{% endif -%}
                        {% if ns.departementcnt > 0 -%}{% if result[search][list_id]["note"] is defined -%}<td>{{ result[search][list_id]["departement"] }}</td>{% endif -%}{% endif -%}
                        {% if ns.regioncnt > 0 -%}{% if result[search][list_id]["note"] is defined -%}<td>{{ result[search][list_id]["region"] }}</td>{% endif -%}{% endif -%}
                        {% if ns.noteanneecnt > 0 -%}{% if result[search][list_id]["note"] is defined -%}<td>{{ result[search][list_id]["noteannee"] }}</td>{% endif -%}{% endif -%}
                        {% if ns.notekmcnt > 0 -%}{% if result[search][list_id]["note"] is defined -%}<td>{{ result[search][list_id]["notekm"] }}</td>{% endif -%}{% endif -%}
                        {% if ns.noteprixcnt > 0 -%}{% if result[search][list_id]["note"] is defined -%}<td>{{ result[search][list_id]["noteprix"] }}</td>{% endif -%}{% endif -%}
                        {% if ns.notetimecnt > 0 -%}{% if result[search][list_id]["note"] is defined -%}<td>{{ result[search][list_id]["notetime"] }}</td>{% endif -%}{% endif -%}
                        {% if ns.notepiececnt > 0 -%}{% if result[search][list_id]["note"] is defined -%}<td>{{ result[search][list_id]["notepiece"] }}</td>{% endif -%}{% endif -%}
                        {% if ns.notesurfacecnt > 0 -%}{% if result[search][list_id]["note"] is defined -%}<td>{{ result[search][list_id]["notesurface"] }}</td>{% endif -%}{% endif -%}
                    {% if result[search][list_id]["note"] is defined -%}</tr>{% endif -%}
                {% endfor -%}
            </tbody>
        </table>
    </body>
</html>